body {
    margin: 0;
    font-family: Arial;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
    color: white;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px;
    background: url('images/banner.jpg') no-repeat center/cover;
    color: white;
}

.hero button {
    padding: 10px 20px;
    background: gold;
    border: none;
    cursor: pointer;
}

/* Products */
.categories {
    margin-bottom: 20px;
}

.categories button {
    padding: 10px 15px;
    margin: 5px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.categories button:hover {
    background: gold;
    color: black;
}

#products {
    padding: 40px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    width: 200px;
}

.product img {
    width: 100%;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
}